.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
  z-index: 1;
}

.modal-body-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  border-radius: 5px;
  background: blue;
  overflow: auto;
  max-width: 650px;
  max-height: 650px;
  color: white;
  border: 0.2rem solid yellow;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 300px;
}

.modal-body-auth .RegAuthForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-body-auth .RegAuth-Controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-body-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  border-radius: 5px;
  background: blue;
  overflow: auto;
  max-width: 650px;
  max-height: 650px;
  color: white;
  border: 0.2rem solid yellow;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
  min-width: 320px;
  height: 75vh;
  min-height: 380px;
}

.modal-body-user .user-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.2rem solid yellow;
  padding: 1rem;
}

.modal-body-user .user-title > h2 {
  text-align: center;
}

.modal-body-user .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: 0.2rem solid yellow;
  padding: 1rem;
  margin-bottom: 1rem;
}

.modal-body-user .user-info-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 0 4rem;
}

.modal-body-user .user-info-avatar .avatarImg {
  width: 5rem;
  height: 6rem;
  border: 0.2rem solid yellow;
}

.modal-body-user .user-info-avatar label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-body-user .user-info-avatar #setavatar {
  color: transparent;
  border: 0.2rem solid yellow;
  width: 120px;
}
/*# sourceMappingURL=Modals.css.map */