* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

.GAME_FIELD_WRAPPER{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 95%;
}

.NAVBAR {
  display: flex;
  justify-content: flex-start;
  height: 5%;
}

.NAVBAR > li {
  list-style-type: none;
  padding-left: 1rem;
}

.NAVBAR > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.host-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 95%
}

.game-section {
  margin: 0 auto;
  width: 95%;
  height: 63%;
}

.bottom-section {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 30%;
}

.questions-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.round-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  margin-bottom: 2%;
}

.topic {
  display: flex;
  width: 100%;
  height: 16%;
  border: 5px solid yellow;
}

.topic:not(:nth-child(1)) {
  border-top: none;
}

.topic-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  border-left: 5px solid yellow;
}

.questions-table {
  width: 80%;
  height: 80%;
}

.players-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 50%;
  height: 95%;
}

.player-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 170px;
  height: 170px;
  background-color: black;
}

.info {
  position: absolute;
  top: -20%;
  left: 60%;
  width: 350px;
  height: 250px;
  background-image: url("./img/Speech_bubble.svg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
}

.host-text {
  margin: 13% auto;
  width: 200px;
  height: 130px;
}

.buttons-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
  height: 250px;
}

.buttons-section-left,
.buttons-section-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 250px;
}

.button {
  width: 170px;
  height: 50px;
}

.hidden {
  display: none;
}