nav {
  border-bottom: 0.2rem solid #ffd700;
}

nav .NAVBAR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 5%;
}

nav .NAVBAR > li {
  list-style-type: none;
  padding-left: 1rem;
  color: white;
  font-weight: 800;
}

nav .NAVBAR > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
  z-index: 1;
}

.modal-body-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  border-radius: 5px;
  background: #311c4a;
  background: radial-gradient(circle, #311c4a 0%, #6d3685 95%);
  overflow: auto;
  max-width: 650px;
  max-height: 650px;
  color: white;
  border: 0.2rem solid #ffd700;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 300px;
}

.modal-body-auth .RegAuthForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-body-auth .RegAuth-Controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-body-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  border-radius: 5px;
  background: #311c4a;
  background: radial-gradient(circle, #311c4a 0%, #6d3685 95%);
  overflow: auto;
  max-width: 650px;
  max-height: 650px;
  color: white;
  border: 0.2rem solid #ffd700;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
  min-width: 320px;
  height: 75vh;
  min-height: 380px;
}

.modal-body-user .user-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.2rem solid #ffd700;
  padding: 1rem;
}

.modal-body-user .user-title > h2 {
  text-align: center;
}

.modal-body-user .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: 0.2rem solid #ffd700;
  padding: 1rem;
  margin-bottom: 1rem;
}

.modal-body-user .user-info-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 0 4rem;
}

.modal-body-user .user-info-avatar .avatarImg {
  width: 5rem;
  height: 6rem;
  border: 0.2rem solid #ffd700;
}

.modal-body-user .user-info-avatar label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-body-user .user-info-avatar #setavatar {
  color: transparent;
  border: 0.2rem solid #ffd700;
  width: 120px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.2rem solid #ffd700;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a .footerElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

footer .gitLogo {
  width: 40px;
  height: 40px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: #311c4a;
  background: radial-gradient(circle, #311c4a 0%, #6d3685 95%);
}

.GAME_FIELD_WRAPPER {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 95%;
}

.host-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  height: 95%;
}

.game-section {
  margin: 0 auto;
  width: 95%;
  height: 63%;
}

.bottom-section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 30%;
}

.questions-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90%;
  color: white;
}

.question-text {
  font-size: 2rem;
}

.round-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 30px;
  margin-bottom: 2%;
}

.topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 16%;
  border: 0.2rem solid #ffd700;
}

.topic:not(:nth-child(1)) {
  border-top: none;
}

.topic-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  font-weight: bold;
  font-size: 1.6rem;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  border-left: 0.2rem solid #ffd700;
  font-size: 2rem;
  font-weight: bold;
}

.questions-table {
  width: 80%;
  height: 80%;
}

.players-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50%;
  height: 95%;
}

.player-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.avatar > img {
  width: 170px;
  height: 170px;
  border: 0.2rem solid #ffd700;
}

.info {
  position: absolute;
  top: -20%;
  left: 60%;
  width: 350px;
  height: 250px;
  background-image: url("./img/Speech_bubble.svg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
}

.host-text {
  margin: 13% auto;
  width: 200px;
  height: 130px;
  color: white;
}

.buttons-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  height: 250px;
}

.buttons-section-left,
.buttons-section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 250px;
}

.button {
  width: 170px;
  height: 50px;
  border-radius: 75%;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=index.css.map */